header {
    color:#ffffff ;
    font-family: verdana, arial, sans-serif;
    font-weight: bold;
    font-size: 300%;
    text-shadow: 2px 1px 1px #000000;
    background-color:#da877b;
    text-align: center;
    padding-bottom: 3px;

}
h1 {
	color:#5f5f5f;
	font-family: verdana, arial, sans-serif;
	text-shadow: 1px 2px 2px #ffffff;
}
h2 {
	color:#fff;
	font-family: verdana, arial, sans-serif;
	font-size: 17px;
	border-bottom: 10px;
}
h3{
	color:#5f5f5f;
	font-family: verdana, arial, sans-serif;
}
h4{
	color:#5f5f5f;
	font-family: verdana, arial, sans-serif; 
}
p  {
    color:#5f5f5f;
    font-family: verdana, arial, sans-serif;
    text-align: left;
    line-height: 26px;
}
body{
	background-color: #e4e4e4;
}
a {
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #5f5f5f;
	text-shadow: none;
	padding-top: 10px
}
a hover {
	background-color: #fff;
}
li {
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
	color: #5f5f5f;
	
}