div {
	border: 2px solid #b7cdbc;
	background: #b7cdbc;
	width:500px;
	border-radius: 25px;
	padding: 10px 75px;
	margin-left: 150px;
}


h1 {
    color:#5f5f5f ;
    font-family: times;
    font-size: 300%;

}
h2 {
	color:#5f5f5f;
	font-family: times;
}
h3 {
	color:#5f5f5f;
	font-family: times;
}
h4{
	color:#5f5f5f;
	font-family: times;
}
h5{
	color:#5f5f5f;
	font-family: times; 
}
p  {
    color:#5f5f5f;
    font-family:times;
    text-align: left;
}
body{
	background-color: #FFFfFf;
}